apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/instance: cf-tunnel
    app.kubernetes.io/name: cloudflared
  name: cf-tunnel
spec:
  selector:
    matchLabels:
      pod: cloudflared
  template:
    metadata:
      labels:
        pod: cloudflared
    spec:
      serviceAccountName: cf-tunnel
      containers:
        - command:
            - cloudflared
            - tunnel
            - --no-autoupdate
            - --metrics
            - 0.0.0.0:2000
            - run
          name: cloudflared
          env:
            - name: TUNNEL_TOKEN
              valueFrom:
                secretKeyRef:
                  key: tunnelToken
                  name: cf-tunnel-secret
            - name: TUNNEL_PROTOCOL
              value: "auto"
            - name: TUNNEL_GRACE_PERIOD
              value: "30s"
            - name: TUNNEL_RETRIES
              value: "5"
          image: cloudflare/cloudflared:2025.11.1
          imagePullPolicy: IfNotPresent
          livenessProbe:
            failureThreshold: 1
            httpGet:
              path: /ready
              port: 2000
            initialDelaySeconds: 10
            periodSeconds: 10
          resources:
            limits:
              cpu: 200m
              memory: 128Mi
            requests:
              cpu: 200m
              memory: 128Mi
