apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: seaweedfs

resources:
  - ../base
# patches:
#   # Override node selector for volume ecoma1 to server-0
#   - target:
#       kind: StatefulSet
#       name: seaweedfs-volume-ecoma1
#     patch: |-
#       - op: replace
#         path: /spec/template/spec/nodeSelector
#         value:
#           kubernetes.io/hostname: "k3d-common-infras-server-0"

#   # Override master data PVC size to 64Mi
#   - target:
#       kind: StatefulSet
#       name: seaweedfs-master
#     patch: |-
#       - op: replace
#         path: /spec/volumeClaimTemplates/0/spec/resources/requests/storage
#         value: 64Mi

#   # Override ecoma1 data PVC size to 128Mi
#   - target:
#       kind: StatefulSet
#       name: seaweedfs-volume-ecoma1
#     patch: |-
#       - op: replace
#         path: /spec/volumeClaimTemplates/0/spec/resources/requests/storage
#         value: 128Mi

#   - target:
#       kind: StatefulSet
#       name: seaweedfs-master
#     patch: |-
#       - op: replace
#         path: /spec/template/spec/containers/0/command
#         value:
#           - "/bin/sh"
#           - "-ec"
#           - |-
#             exec /usr/bin/weed \
#               -logdir=/logs \
#               -v=1 \
#               master \
#               -port=9333 \
#               -mdir=/data \
#               -ip.bind=0.0.0.0 \
#               -defaultReplication=000 \
#               -metricsPort=9327 \
#               -volumeSizeLimitMB=32 \
#               -disableHttp \
#               -electionTimeout=10s \
#               -heartbeatInterval=300ms \
#               -ip=${POD_NAME}.${SEAWEEDFS_FULLNAME}-master.${NAMESPACE} \
#               -peers=${SEAWEEDFS_FULLNAME}-master-0.${SEAWEEDFS_FULLNAME}-master.${NAMESPACE}:9333
