## REF: https://github.com/cert-manager/cert-manager/blob/master/deploy/charts/cert-manager/values.yaml

global:
  # Set the verbosity of cert-manager. A range of 0 - 6, with 6 being the most verbose.
  logLevel: 2

crds:
  enabled: true

replicaCount: 1

strategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 0
    maxUnavailable: 1

maxConcurrentChallenges: 30

enableCertificateOwnerRef: true

approveSignerNames:
  - issuers.cert-manager.io/*
  - clusterissuers.cert-manager.io/*

resources:
  requests:
    cpu: 100m
    memory: 64Mi
  limits:
    cpu: 100m
    memory: 64Mi

securityContext:
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault
