apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

resources:
  - ../base
  - resources/argocd-dex-secret.yaml

patches:
  # Change Domain For Local Development
  - target:
      kind: HTTPRoute
      name: argocd
    patch: |-
      - op: add
        path: /spec/hostnames
        value:
          - "argocd.ecoma.io"
  - target:
      kind: Application
      name: argocd
    # Use Local Repo for Local Development
    patch: |-
      - op: add
        path: /spec/source
        value: 
          repoURL: https://github.com/ecoma-io/common-infras.git
          path: src/argocd/prod
          targetRevision: main
  # Enable Kustomize Helm Support
  # REF https://argo-cd.readthedocs.io/en/stable/operator-manual/argocd-cm-yaml/
  - target:
      kind: ConfigMap
      name: argocd-cm
    # Disable Anonymous User Access in Production
    patch: |-
      - op: add
        path: /data/users.anonymous.enabled
        value: "false"
  # REF https://argo-cd.readthedocs.io/en/latest/operator-manual/argocd-cmd-params-cm-yaml/
  - target:
      kind: ConfigMap
      name: argocd-cmd-params-cm
    # Set warning log level to reduce noise in production
    patch: |-
      - op: add
        path: /data
        value:  
          "server.insecure": "true"   
          "server.log.level": "warn"
          "reposerver.log.level": "warn"
          "controller.log.level": "warn"
          "dexserver.log.level": "warn"
          "applicationsetcontroller.log.level": "warn"
          "notificationscontroller.log.level" : "warn"
  - target:
      kind: ApplicationSet
      name: cluster-core
    # Use Local Repo for Local Development
    patch: |-
      - op: replace
        path: /spec/generators/0/git
        value: 
          repoURL: https://github.com/ecoma-io/common-infras.git
          revision: main
          directories:
            - path: src/core/*/prod
      - op: replace
        path: /spec/template/spec/source/repoURL
        value: https://github.com/ecoma-io/common-infras.git
      - op: replace
        path: /spec/template/spec/source/targetRevision
        value: main

  # Add Argo CD external URL and Dex connector for GitHub (prod)
  - target:
      kind: ConfigMap
      name: argocd-cm
    patch: |-
      - op: add
        path: /data/url
        value: "https://argocd.ecoma.io"

  - target:
      kind: ConfigMap
      name: argocd-cm
    patch: |-
      - op: add
        path: /data/admin.enabled
        value: "false"
      - op: add
        path: /data/dex.config
        value: |
          connectors:
          - type: github
            id: github
            name: GitHub
            config:
              clientID: Ov23li7HwpjwwJjBFUs9
              clientSecret: $argocd-dex-secret:github.clientSecret
              orgs:
              - name: ecoma-io
                teams:
                - admin
                - platform
                - devops
                - core-product
  # Add RBAC policy and default role via patch (append to base argocd-rbac-cm)
  - target:
      kind: ConfigMap
      name: argocd-rbac-cm
    patch: |-
      - op: add
        path: /data
        value: {}
      - op: add
        path: /data/policy.csv
        value: |
          # Role definitions
          g, ecoma-io:admin, administrators

          # Admin: full control
          p, administrators, applications, *, */*, allow
          p, administrators, clusters, *, *, allow
          p, administrators, repositories, *, *, allow   

          # Default: read-only access
          p, viewers, applications, get, */*, allow
          p, viewers, applications, get, default/*, deny
          p, viewers, clusters, *, *, deny
      - op: replace
        path: /data/policy.default
        value: viewers
