name: Integration

on:
  push:
  pull_request:

env:
  CI: true

jobs:
  compute-tests:
    name: Compute tests
    runs-on: ubuntu-latest
    outputs:
      tests: ${{ steps.tests.outputs.tests }}
      has_projects: ${{ steps.tests.outputs.has_projects }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Compute tests
        id: tests
        run: |
          set -o pipefail
          if [ ! -d tests ]; then
            echo "has_projects=false" >> $GITHUB_OUTPUT
            echo "tests=[]" >> $GITHUB_OUTPUT
            exit 0
          fi
          tests=$(ls tests | grep '\.bats$' | sed 's/\.bats$//g' | jq -R -s -c 'split("\n")[:-1]')
          if [ "$(echo $tests | jq 'length')" -gt 0 ]; then
            echo "has_projects=true" >> $GITHUB_OUTPUT
          else
            echo "has_projects=false" >> $GITHUB_OUTPUT
          fi
          echo "tests=$tests" >> $GITHUB_OUTPUT

  integration-checks:
    name: Integration Checks
    runs-on: ubuntu-latest
    needs: compute-tests
    if: needs.compute-tests.outputs.has_projects == 'true'
    strategy:
      fail-fast: false
      matrix:
        test: ${{ fromJson(needs.compute-tests.outputs.tests) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup environment
        run: bash install.sh dev
      - name: Run integration tests
        run: |
          bats tests/${{ matrix.test }}.bats \
            --trace \
            --timing \
            --verbose-run \
            --print-output-on-failure \

  report:
    name: Report
    needs: [integration-checks]
    runs-on: ubuntu-latest
    if: ${{ always() }}
    steps:
      - name: Resport integration checks status
        uses: guibranco/github-status-action-v2@latest
        with:
          authToken: ${{secrets.GITHUB_TOKEN}}
          context: ci-completed
          state: ${{ needs.integration-checks.result == 'failure' && 'failure' || 'success' }}
          sha: ${{github.event.pull_request.head.sha || github.sha}}
